<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>

<form id="upload-form" action="{{ url_for('upload_shiftlyrics') }}" method="POST" enctype="multipart/form-data">

    <strong>Input Lyrics File:</strong><br>
    <!-- <input id="file-picker" type="file" name="file" accept="image/*" multiple> -->
    <input id="file-picker" type="file" name="file" accept=".pptx"> 
    <br>
    <strong>Output Template File:</strong><br>
    <input id="templatefile-picker" type="file" name="templatefile" accept=".pptx">
    <div id="msg"></div> <br>
    <input type="submit" value="Convert" id="upload-button">
</form>
</body>
<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if (ext == 'pptx')
            {
                $("#msg").text("File supported")
            }
            else
            {
                $("#msg").text("File is NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );
    $("#templatefile-picker").change(function(){

        var input = document.getElementById('templatefile-picker');

        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if (ext == 'pptx')
            {
                $("#msg").text("File supported")
            }
            else
            {
                $("#msg").text("File is NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>
</html>